node_modules/
.pnpm-store/
.turbo/
.next/
dist/
build/
coverage/
.env
.env.local
.env.*.local
.DS_Store
supabase/.branches/
supabase/.temp/
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify

# Vercel build output
.vercel/output/
